@import '../../../styles/style-config.scss';

body div#app div#folder {
    #content {
        .header-nav {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            place-items: center;
            list-style-type: none;
            h5 {
                margin: 0;
                text-align: center;
                font-family: $text-font;
                font-weight: bold;
                font-size: 25px;
                width: 300px;
            }
            li {
                display: flex;
                place-items: center;
            }
            li:hover ~ svg {
                background-color: $base-color-light;
            }
            svg {
                width: 20px;
                &:hover {
                    cursor: pointer;
                }
            }

        }
        .table-title {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 5px 10px;
            span {
                font-size: 15px;
                color: $text-color;
                font-family: $text-font;
                font-weight: bold;
                min-width: 60px;
                &.right {
                    text-align: center;
                }
            }
        }
        .tabel-nilai {
            display: flex;
            border-radius: 10px;
            width: 100%;
            overflow-y: scroll;
            scrollbar-width: none;
            height: 200px;
            flex-direction: column;
            &::-webkit-scrollbar {
                display: none;
            }
            div {
                padding: 5px 10px;
                display: flex;
                justify-content: space-between;
                &.even{
                    background-color: $base-color-dark;
                }
                &.odd {
                    background-color: $base-color;
                }
                &:last-child{
                    border-radius: 0 0 10px 10px;
                }
                p {
                    min-width: 60px;
                    text-align: center;
                    color: $text-color;
                    font-family: $text-font;
                    font-weight: bold;
                    font-size: 15px;
                    &:hover {
                        cursor: default;
                    }
                }
                a {
                    text-decoration: none;
                    color: $text-color;
                    font-family: $text-font;
                    font-weight: bold;
                    font-size: 15px;
                    &:hover {
                        color: $base-color-light;
                    }
                }
            }        
        }
    }
}
