body {
    background: unset !important;
    background-color: $bg-color !important;
    #t_o {
        #t_m {
            .w0 {
                .w1 {
                    #m_b {
                        background: transparent;
                        .small-nav {
                            li {
                                background-color: $base-color-dark;
                                &.current {
                                    background-color: $base-color;
                                }
                                &:hover {
                                    background-color: $base-color-light;
                                }
                                a {
                                    color: $text-color;
                                }
                            }
                        }
                        #m_b1 {
                            background: linear-gradient(160deg, $base-color 50%, $base-color-dark);
                            .big-nav {
                                @include blur;
                                li {
                                    color: $text-color;
                                    svg {
                                        fill: $button-color;
                                        &:hover {
                                            fill: $base-color-light;
                                        }
                                    }
                                }
                            }
                            #ti_m {
                                background: transparent;
                                h1 {
                                    color: $text-color
                                }
                                #ti_m1 {
                                    @include blur;
                                    .stats-box {
                                        color: $text-color;
                                        div {
                                            border-bottom-color: $base-color-light;
                                            &.ipk-container {
                                                .ipk {
                                                    border-color: $base-color-light;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

}