html {
    width: 100vw;
    height: 100vh;
}
body {
    width: inherit;
    height: inherit;
    display: flex;
    justify-content: center;
    place-items: center;
    #t_o {
        margin: 0;
        max-width: 700px;
        min-width: 0%;
        #t_h {
            display: none;
        }
        #t_f {
            display: none;
        }
        #t_m {
            background: transparent;
            .w0 {
                background: transparent;
                .w1 {
                    background: transparent;
                    display: flex;
                    justify-content: center;
                    &:nth-child(2) {
                        display: none;
                    }
                    &:nth-child(4) {
                        display: none;
                    }
                    #nv {
                        display: none;
                    }
                    #m_b {
                        border-right: 0;
                        border-radius: 0 10px 10px 10px;
                        display: flex;
                        flex-direction: column-reverse;
                        .small-nav {
                            padding: 0;
                            display: flex;
                            text-decoration: none;
                            li {
                                list-style-type: none;
                                display: flex;
                                justify-content: center;
                                overflow: hidden;
                                border-radius: 10px 10px 0 0;
                                a {
                                    padding: 10px;
                                    min-width: 100px;
                                    text-decoration: none;
                                    font-family: $font-family;
                                    font-weight: bold;
                                    font-size: 15px;
                                    text-align: center;                                    
                                }
                            }
                        }
                        #m_b1 {
                            border-right: 0;
                            display: flex;
                            flex-direction: row-reverse;
                            place-items: center;
                            border-radius: 0 12px 12px 12px;
                            &:nth-child(5) {
                                display: none;
                            }
                            .big-nav {
                                padding: 5px 0;
                                margin: 0 0 0 10px;
                                display: flex;
                                flex-direction: column;
                                justify-content: space-between;
                                width: 50px;
                                height: 345px;
                                border-radius: 10px;
                                li {
                                    list-style-type: none;
                                    display: flex;
                                    justify-content: center;
                                    overflow: hidden;
                                    border-radius: 10px 0 0 10px;
                                    padding:  5px 10px;
                                    font-family: $title-font;
                                    font-size: 15px;
                                    text-align: center; 
                                    writing-mode: vertical-lr;
                                    place-items: center;
                                    &.current-nav {
                                        transform: rotate(180deg);
                                    }
                                    & svg {
                                        height: 30px;
                                        &:hover {
                                            cursor: pointer;
                                        }
                                    }
                                }
                            }
                            .linfo {
                                display: none;
                            }
                            .rinfo {
                                display: none;
                            }
                            #ti_h {
                                display: none;
                            }
                            .clear {
                                display: none;
                            }
                            #ti_m {
                                min-width: 500px;
                                border-left: 0;
                                display: flex;
                                flex-direction: column-reverse;
                                gap: 10px;
                                padding: 20px;
                                h1 {
                                    font-family: $title-font;
                                    text-align: right;
                                    font-weight: normal;
                                    font-size: 30px;
                                    margin-right: 10px;
                                }
                                #ti_m1 {
                                    display: flex;
                                    justify-content: space-between;
                                    border-left: 0;
                                    border-radius: 10px;
                                    .stats-box {
                                        font-family: $font-family;
                                        font-weight: bold;
                                        display: flex;
                                        flex-direction: column;
                                        justify-content: space-between;
                                        h5 {
                                            font-size: 20px;
                                            text-align: right;
                                            margin: 10px;
                                        }
                                        div {
                                            display: flex;
                                            justify-content: space-between;
                                            place-items: center;
                                            gap: 50px;
                                            font-size: 15px;
                                            border-bottom: 2px solid;
                                            margin-top: 2px;
                                            .r-stat {
                                                text-align: right;
                                            }
                                            &.ipk-container {
                                                flex-direction: column;
                                                .ipk {
                                                    width: 60px;
                                                    height: 60px;
                                                    padding: 10px;
                                                    margin: 10px;
                                                    font-size: 20px;
                                                    text-align: center;
                                                    display: flex;
                                                    flex-direction: column;
                                                    gap: 5px;
                                                    border: 4px solid;
                                                    border-radius: 12px;
                                                }
                                            }
                                        }
                                    }
                                    .box {
                                        display: none;
                                    }
                                    h3 {
                                        display: none;
                                    }
                                    .imgsh-box {
                                        padding: 0;
                                        background: transparent;
                                        background-image: unset;
                                        .imgsh-in {
                                            overflow: hidden;
                                            margin: 0;
                                            padding: 0;
                                            border: 0;
                                            background: transparent;
                                            img {
                                                height: 100%;
                                            }
                                        }
                                        .imgsh-bl {
                                            display: none;
                                        }
                                        .imgsh-tr {
                                            display: none;
                                        }
                                    }
                                    .tab {
                                        display: none;
                                    }
                                    & > img {
                                        display: none;
                                    }
                                }
                            }
                        }
                    }
                    .foot {
                        display: none;
                    }
                }
            }
        }
    }
}