@import "../../../styles/style-config.scss";

body div#app div#folder {
    #content {
        .tabel-bayar {
            h5,h6 {
                font-family: $text-font;
                margin: 0;
                text-align: center;
                color: $text-color;
            }
            h5 {
                font-size: 20px;
            }
            h6 {
                font-size: 17px;
                border-bottom: 2px solid;
                padding: 10px 0;
            }
            .header-tabel {
                margin: 10px 0;
                display: flex;
                justify-content: space-between;
                p {
                    font-family: $text-font;
                    font-size: 15px;
                    min-width: 110px;
                    text-align: center;
                    &:hover {
                        cursor: default;
                    }
                }
                p.right {
                    min-width: 200px;
                    text-align: center;
                }
            }
            .data-tabel {
                border-radius: 10px;
                overflow-y: scroll;
                scrollbar-width: none;
                height: 200px;
                &::-webkit-scrollbar {
                    display: none;
                }
                div {
                    display: flex;
                    justify-content: space-between;
                    padding: 5px 10px;
                    &.even{
                        background-color: $base-color-dark;
                    }
                    &.odd {
                        background-color: $base-color;
                    }
                    &:last-child {
                        border-radius: 0 0 10px 10px;
                    }
                    p {
                        font-family: $text-font;
                        font-size: 15px;
                        text-align: center;
                        min-width: 110px;
                        &:hover {
                            cursor: default;
                        }
                    }
                    .status {
                        min-width: 200px;
                    }
                }
            }
        }
    }
}