@import '../../../styles/style-config.scss';

body div#app div#folder {
    div#content {
        position: relative;
        height: 300px;
        .first-form {
            position: absolute;
            bottom: -34px;
            left: 0;
            border: 0;
            margin: 0;
            tbody {
                display: flex;
                gap: 10px;
                td {
                    width: unset;
                }
                select {
                    @include unset-spacings;
                    @include regular-font;
                    width: 270px;
                    border: 0;
                    border-radius: 5px;
                    padding: 3px 10px;
                    background-color: $base-color-light;
                    color: $base-color-dark;
                    font-size: 12px;
                }
            }
            th {
                display: none;
            }
            td {
                @include unset-spacings;
                border: 0;
            }
        }
        .toolbar {
            position: absolute;
            top: -70px;
            left: 0;
            width: 250px;
            border: 0;
            background: unset;
            form {
                border: 0;
            }
            fieldset {
                @include unset-spacings;
                display: flex;
                flex-direction: row;
                gap: 5px;
                flex-wrap: wrap;
                justify-content: space-between;
                border: 0;
                input, select {
                    @include regular-font;
                    @include unset-spacings;
                    background: transparent;
                }
                input[name="search"] {
                    width: 130px;
                    border: 0;
                    border-bottom: 2px solid;
                    &::placeholder {
                        color: $text-color;
                    }
                }
                select {
                    border: 0;
                    border-radius: 5px;
                    padding: 3px 10px;
                    width: 180px;
                    background-color: $base-color-light;
                    color: $base-color-dark;
                    scrollbar-width: none;
                    &::-webkit-scrollbar {
                        display: none;
                    }
                    optgroup {
                        @include regular-font;
                        background-color: $base-color-dark;
                        color: $text-color;
                        font-family: $text-font;
                        font-weight: bold;
                        option {
                            @include regular-font;
                            background-color: $base-color-light;
                            color: $base-color-dark;
                        }
                    }
                }
                input.button {
                    @include unset-spacings;
                    border: 2px solid;
                    border-radius: 5px;
                    width: 110px;
                    padding: 3px 6px;
                    background-color: $base-color-dark;
                    color: $base-color-light;
                    &:hover {
                        cursor: pointer;
                        background-color: $base-color-light;
                        color: $base-color-dark;
                    }
                }
                label {
                    display: none;
                }
            }
        }
        .card-container {
            height: 100%;
            overflow-y: scroll;
            display: flex;
            gap: 15px;
            flex-direction: column;
            scrollbar-width: thin;
            place-items: center;
            .card-subject {
                display: flex;
                flex-direction: row;
                gap: 20px;
                justify-content: center;
                place-items: center;
                border: 2px solid;
                padding: 10px;
                border-radius: 10px;
                height: 200px;
                width: 450px;
                background-color: $base-color-dark;
                z-index: 0;
                .front {
                    width: 200px;
                    height: 170px;
                    flex-basis: 40%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    background-color: transparent;
                    h6 {
                        @include regular-font;
                        @include unset-spacings;
                        font-size: 20px;
                        text-align: center;
                        margin-bottom: 5px;
                        line-height: 22px;
                        z-index: -1;
                    }
                    p {
                        z-index: -1;
                        @include regular-font;
                        text-align: center;
                    }
                }
                .detail-box {
                    width: 200px;
                    height: 170px;
                    border: 2px solid;
                    border-radius: 5px;
                    padding: 10px;
                    display: flex;
                    flex-direction: column;
                    gap: 5px;
                    justify-content: center;
                    .card-detail {
                        height: 120px;
                        overflow-y: scroll;
                        scrollbar-width: none;
                        text-align: center;
                        flex-direction: column-reverse;
                        justify-content: right;
                        gap: 2px;
                        font-size: 12px;
                        &::-webkit-scrollbar {
                            display: none;
                        }
                        a {
                            @include regular-font;
                            text-decoration: none;
    
                        }
                    }
                    & > div {
                        display: flex;
                        justify-content: center;
                        gap: 10px;
                        button {
                            width: 50px;
                            background-color: $base-color;
                            border: 2px solid;
                            &:hover {
                                cursor: pointer;
                                background-color: $base-color-dark;
                            }
                            svg {
                                width: 20px;
                            }
                        }
                    }
                }
            }
        }
        
    }
}                

