* {
    border-color: $base-color-light !important;
}
h5 {
    color: $text-color !important;
}
svg {
    fill: $button-color !important;
    &:hover {
        fill: $button-color-light !important;
    }
}
p {
    color: $text-color !important
}
body {
    background: $bg-color !important;
    #app {
        .file-nav {
            &>a {
                background-color: $base-color;
                &:hover {
                    background-color: $base-color-dark;
                }
            }
            li {
                background-color: $base-color-dark;
                color: $text-color;
                &.active {
                    background-color: $base-color;
                }
                a {
                    color: $text-color;
                }
            }
        }
        #folder {
            background: $folder-color;
            ul {
                @include blur;
                .folder-name {
                    color: $text-color;
                }
                svg {
                    fill: $button-color;
                    &:hover {
                        fill: $button-color-light;
                    }
                }
            }
            div {
                h1 em {
                    color: $text-color
                }
                #content{
                    @include blur;
                }
            }
        }
    }
}